<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>contact</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>

    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <ul class="navbar-nav">
            
             <li class="nav-item active">
            <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="/contact">Contact</a>
            </li>
        </ul>
    </nav>

    <div class="container">
        <div class="row">
            <div class="col col-md-4"></div>
            <div class="col col-12 col-md-4">
                <form action="/read" method="POST">
                <table class="table">
                    <tr><td>Name:</td><td><input type="text" class="form-control" name="name" id=""></td></tr>
                    <tr><td>Email:</td><td><input type="email" class="form-control" name="email" id=""></td></tr>
                    <tr><td>Message:</td><td><textarea name="message" class="form-control" id="" cols="5" rows="3"></textarea></td></tr>
                    <tr><td></td><td><input type="submit" class="btn btn-info" value="Send"></td></tr>
                </table>
                </form>
            </div>
            <div class="col col-md-4"></div>
        </div>
    </div>
</body>
</html>